body {
    background-image: url(../images/clouds.jpg);
    background-color: #2BCDFF;
    color: #000000;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    background-image: url(../images/clouds.jpg);
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 90%;
    font-size: 24pt;
}

#subwrapper {
    color: #000000;
    font-size: 18pt;
}

#subsubwrapper {
    color: black;
    font-size: 18pt;
}

#title {
    color: #ff952b;
    background-blend-mode: luminosity;
}

#start {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24pt;
    color: #Ffffff;
    background-color: #FF952B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-size: 8pt;
}

.answer-button {
    background-color: #FF952B;
    color: #ffffff;
    margin: 10px;
    font-size: 24pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#results {
    font-size: 24pt;
    color: black;
}