body {
    background-image: url(../images/clouds.jpg);
    background-color: #2BCDFF;
    color: #Ffffff;
    background-position: center;
    background-position: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    background-color: #ffffff;
    color: #ff952b;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 90%;
}

#subwrapper {
    color: #ff952b;
}

#start {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #Ffffff;
    background-color: #FF952B;
}